<!DOCTYPE html>
<html>
  <head>
    <title>Politically Correct</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-material.css">
    <link rel="stylesheet" href="/styles/angular-material.min.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->  
    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>

  </head>

  <body ng-app="PollModule" ng-controller="PollController as poll" ng-cloak>
     <section layout="row" flex>
  <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      md-disable-backdrop
      md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Sidenav Left</h1>
    </md-toolbar>
    <md-content layout-padding ng-controller="LeftCtrl">
      <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Close Sidenav Left
      </md-button>
      <p hide-md show-gt-md>
        This sidenav is locked open on your device. To go back to the default behavior,
        narrow your display.
      </p>
    </md-content>
  </md-sidenav>
  <md-content flex layout-padding>
    <div layout="column" layout-fill layout-align="top center">
      <p>
      The left sidenav will 'lock open' on a medium (>=960px wide) device.
      </p>
      <p>
      The right sidenav will focus on a specific child element.
      </p>
      <div>
        <md-button ng-click="toggleLeft()"
          class="md-primary" hide-gt-md>
          Toggle left
        </md-button>
      </div>
      <div>
        <md-button ng-click="toggleRight()"
          ng-hide="isOpenRight()"
          class="md-primary">
          Create a new poll
        </md-button>
      </div>
    </div>
    <div flex></div>
  </md-content>
  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" style="min-width: 454px; max-width: 100%;">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Poll creation</h1>
    </md-toolbar>
    <md-content ng-controller="RightCtrl" layout-padding>
      <form name="pollForm">

        <md-input-container>
          <label for="poll_name">Poll name</label>
          <input type="text" id="poll_name" ng-model="name" md-autofocus required>
        </md-input-container>

        <md-input-container>
          <label for="poll_desc">Poll description</label>
          <textarea ng-model="poll_desc" maxlength="2000" ></textarea>
        </md-input-container>


          <div ng-controller="DatePicker">
            <label for="poll_start">Time to start</label>
            <md-datepicker name="start" ng-model="start_date" md-placeholder="Enter start date" md-min-date="minDate" md-max-date="maxDate" ng-required="required"></md-datepicker><br />
            <label name="end" for="poll_end">Time to end&nbsp</label>
            <md-datepicker ng-model="end_date" md-placeholder="Enter end date" md-min-date="start_date" md-max-date="maxDate" ng-required="required"></md-datepicker>
          </div>
          <md-list ng-controller="CandidatesCtrl" ng-cloak> <!-- ng-controller="ListCtrl" -->
            <md-input-container>
              <label for="candidate">Add candidate (press enter to add one)</label>
              <input type="text" ng-model="candidate" ng-keyup="createCandidate($event, 0)" >
              </md-input-container>
              <md-input-container ng-style="desc_style">
              <label for="can_desc" >Description</label>
              <textarea maxlength="1000" ng-model="can_desc"></textarea>
            </md-input-container>
            <md-button ng-click="createCandidate($event, 1)" id="add_candidates">Add candidate</md-button>
            <md-subheader class="md-no-sticky" ng-style="desc_style">Candidates</md-subheader>    
            <ul>
              <li ng-repeat="item in candidates">
                <div><b>{{item.name}}</b></div>
                <div>{{item.desc}}</div>
                <md-button ng-click="removeCandidate($index, item)">Delete</md-button>
              </li>
            </ul>
            <md-button class="md-raised md-primary" type="submit">Submit !</md-button>
      </form>
      <md-button ng-click="close()" class="md-primary">
        Close
      </md-button>
    </md-content>
  </md-sidenav>


</section>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/public/signup/SignupModule.js"></script>
    <script src="/js/private/dashboard/DashboardModule.js"></script>
    <script src="/js/public/homepage/HomepageModule.js"></script>
    <script src="/js/public/poll/PollModule.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/angular-aria.js"></script>
    <script src="/js/angular-material.js"></script>
    <script src="/js/angular-messages.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/private/dashboard/DashboardController.js"></script>
    <script src="/js/public/homepage/HomepageController.js"></script>
    <script src="/js/public/poll/PollController.js"></script>
    <script src="/js/public/signup/SignupController.js"></script>
    <!--SCRIPTS END-->
    <script>
        // Include the dependency upon ngMaterial - important !!
        angular.module('starterApp', ['ngMaterial']);
    </script>
  </body>
</html>
