  <!DOCTYPE html>
  <html>
    <head>
      <title>Politically Correct</title>
      <!--STYLES-->
      <link rel="stylesheet" href="/styles/angular-material.css">
      <link rel="stylesheet" href="/styles/angular-material.min.css">
      <link rel="stylesheet" href="/styles/angular-toastr.css">
      <link rel="stylesheet" href="/styles/importer.css">
      <!--STYLES END-->  
      <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
      <script type="text/javascript">
      window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
      </script>

    </head>

    <body ng-app="PollModule" ng-controller="PollController" ng-cloak>
       <section layout="row" flex>
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Close Sidenav Left
        </md-button>
        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
        </p>
        <p>
        The right sidenav will focus on a specific child element.
        </p>
        <div>
          <md-button ng-click="toggleLeft()"
            class="md-primary" hide-gt-md>
            Toggle left
          </md-button>
        </div>
        <div>
          <md-button ng-click="toggleRight()"
            ng-hide="isOpenRight()"
            class="md-primary">
            Toggle right
          </md-button>
        </div>
      </div>
      <div flex></div>
    </md-content>    
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-autofocus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>
  </section>

      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/angular.js"></script>
      <script src="/js/public/signup/SignupModule.js"></script>
      <script src="/js/private/dashboard/DashboardModule.js"></script>
      <script src="/js/public/homepage/HomepageModule.js"></script>
      <script src="/js/public/poll/PollModule.js"></script>
      <script src="/js/angular-animate.js"></script>
      <script src="/js/angular-aria.js"></script>
      <script src="/js/angular-material.js"></script>
      <script src="/js/angular-messages.js"></script>
      <script src="/js/angular.js"></script>
      <script src="/js/dependencies/angular-toastr.js"></script>
      <script src="/js/dependencies/compareTo.module.js"></script>
      <script src="/js/private/dashboard/DashboardController.js"></script>
      <script src="/js/public/homepage/HomepageController.js"></script>
      <script src="/js/public/poll/PollController.js"></script>
      <script src="/js/public/signup/SignupController.js"></script>
      <!--SCRIPTS END-->
      <script>
          // Include the dependency upon ngMaterial - important !!
          angular.module('starterApp', ['ngMaterial']);
      </script>
    </body>
  </html>
