    <md-dialog aria-label="Form">
    <md-content class="md-padding">
	<form name="pollForm">
        <md-input-container>
          <label for="poll_name">Poll name</label>
          <input type="text" id="poll_name" ng-model="name" md-autofocus required>
        </md-input-container>
        <br/>
        <md-input-container style="size:100%">
          <label for="poll_desc">Poll description</label>
          <textarea ng-model="poll_desc" md-maxlength="2000" ></textarea>
        </md-input-container>


          <div ng-controller="DatePicker">
            <label for="poll_start">Time to start</label>
            <md-datepicker name="start" ng-model="start_date" md-placeholder="Enter start date" md-min-date="minDate" md-max-date="maxDate" ng-required="required"></md-datepicker><br />
            <label name="end" for="poll_end">Time to end&nbsp</label>
            <md-datepicker ng-model="end_date" md-placeholder="Enter end date" md-min-date="start_date" md-max-date="maxDate" ng-required="required"></md-datepicker>
          </div>
          <md-list ng-controller="CandidatesCtrl" ng-cloak> <!-- ng-controller="ListCtrl" -->
            <md-input-container>
              <label for="candidate">Add candidate (press enter to add one)</label>
              <input type="text" ng-model="candidate" ng-keyup="createCandidate($event, 0)">
            </md-input-container>
            <div ng-show="candidate">
              <md-input-container>
              <label for="can_desc">Candidate Description</label>
              <textarea maxlength="1000" ng-model="can_desc"></textarea>
              </md-input-container>
              <div md-color-picker="{random:'True'}" ng-model="valueObj"></div>
              <md-button ng-click="createCandidate($event, 1)" id="add_candidates" >Add candidate</md-button>
              </div>
              <md-subheader class="md-no-sticky"  ng-show="candidates">Candidates</md-subheader>    
              <ul>
                <li ng-repeat="item in candidates">
                  <div><b>{{item.name}}</b></div>
                  <div>{{item.desc}}</div>
                  <md-button ng-click="removeCandidate($index, item)">Delete</md-button>
                </li>
              </ul>
              <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
            <md-button class="md-raised md-primary" type="submit">Submit !</md-button>
      </form>

<div class="md-actions" layout="row">
  <span flex></span>
  <md-button ng-click="answer('not useful')"> Cancel </md-button>
  <md-button ng-click="answer('useful')" class="md-primary"> Save </md-button>
</div></md-dialog>